{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block container %}
<div class="container" >
    <form id="form" method="POST" action="{{path('login_login_comment')}}" data-validate="parsley">
         <h2>Контактна форма</h2>
        <label>Имейл</label>
        <input type="text" id="username" name="username" class="input-xlarge" data-trigger="change" data-required="true" data-type="email"><br/>
        <label>Коментар</label>
        <textarea name="comment" data-required="true"></textarea><br/>
       
        <div>
            <button class="btn btn-primary" type="submit" >Create Account</button>
        </div>

    </form>
</div>
         
{% for person in comments %}
<table class="table">
<tr>
<td>{{ person.Username }}</td>
</tr>
<td>{{ person.Comment }}</td>
</tr>
</table>
{% endfor %}
         
 {%endblock%}
 
 

 
 
 
 
  