{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
   {%block container %}
<div class="container">
  <!-- Product page in different controller !-->
  <!-- Why three same pages ? !-->
   <h2>Здравей {{name}}</h2>
   <a href="/product"><h1>Всички продукти</h1></a>

</div> 
<a href="{{path('login_login_logout')}}" >Logout</a>
    {%endblock%}