<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <a href="/product/first">Страница 1</a>
      <a href="/product/second">Страница 2</a>
      <a href="/product/third">Страница 3</a>
      <a href="/comment">Съобщение</a>
  </div>
</nav>
